<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>High Five</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-11 mx-auto">
            <h1>もつれた赤い糸、ほぐしませんか</h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"><span style="color: #BA589B">手相鑑定</span>の結果から恋愛の悩みを一緒に解決しよう</p>
            <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, class:'btn btn-primary btn-xl js-scroll-trigger' %>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
